name: run unit tests on Intel GPU.

on: 
  pull_request:
  push:
    branches: [main]

permissions: 
  contents: read

env:
  REGISTRY: localhost

jobs:
  build-docker-image-pvc:
    runs-on: self-hosted-pvc
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: build docker image
        id: build-image
        run: |
          cp -r "$HOME/umd" ./umd
          docker build -t xpu-kernel-ci-image -f Dockerfile.xpu .
          docker push ${{ env.REGISTRY }}/xpu-kernel-ci-image:latest
          
  build-wheel-on-pvc:
    runs-on: self-hosted-pvc
    needs: build-docker-image-pvc
    container:                      
      image: xpu-kernel-ci-image:latest   
      options: --user root   
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: install dependency
        run: |
          pip install -r requirements.txt

      - name: build wheel
        run: pip wheel --extra-index-url=https://download.pytorch.org/whl/xpu -e . -v

      - name: up load to artifact
        uses: actions/upload-artifact@v4
        with:
          name: wheel-${{ github.sha }}
          path: vllm_xpu_kernels*.whl

  run-unit-tests-pvc:
    runs-on: self-hosted-pvc
    needs: build-docker-image-pvc
    timeout-minutes: 20
    container:                      
      image: xpu-kernel-ci-image:latest
      options: --device /dev/dri -v /dev/dri/by-path:/dev/dri/by-path --privileged 
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: build & install wheel
        run: |
          pip install -r requirements.txt
          pip install --extra-index-url=https://download.pytorch.org/whl/xpu -e . -v

      - name: test 
        run: |
          ZE_AFFINITY_MASK=0 SKIP_HANG_KERNEL=1 pytest -v -s tests/

  clean-up-image-pvc:
    runs-on: self-hosted-pvc
    needs: 
      - build-docker-image-pvc
      - run-unit-tests-pvc
    steps:
      - name: Remove docker image
        run: |
          docker system prune -f || true

  run-unit-tests-bmg:
    runs-on: self-hosted-bmg
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: build docker image
        run: |
          cp -r "$HOME/umd" ./umd
          docker build -t xpu-kernel-ci-image -f Dockerfile.xpu .

      - name: test 
        run: |
          docker run \
          --device /dev/dri \
          -v /dev/dri/by-path:/dev/dri/by-path \
          --privileged \
          --name vllm-xpu-kernel-ci \
          xpu-kernel-ci-image \
          /bin/bash -c '
          ZE_AFFINITY_MASK=0,1 pytest -v -s /workspace/vllm-xpu-kernels/tests/ --ignore=/workspace/vllm-xpu-kernels/tests/test_lora_ops.py --ignore=/workspace/vllm-xpu-kernels/tests/test_fp8_quant.py
          # fixme: Running lora UT separately to avoid OOM when running together with other tests.
          ZE_AFFINITY_MASK=0,1 pytest -v -s /workspace/vllm-xpu-kernels/tests/test_lora_ops.py
          '
      - name: Remove container
        if: ${{ always() }} 
        run: |
          docker rm -f vllm-xpu-kernel-ci || true
          docker image rm -f vllm-xpu-kernel-ci || true
          docker system prune -f || true
