name: run unit tests on Intel GPU.

on: 
  workflow_run:
    workflows: ["build latest docker"]
    types: [completed]

permissions: 
  contents: read

env:
  REGISTRY: localhost:5000

jobs:
  run-unit-tests-pvc:
    runs-on: self-hosted-pvc
    if: github.event.workflow_run.conclusion == 'success'
    timeout-minutes: 30
    container:                      
      image: localhost:5000/xpu-kernel-ci-image:latest
      options: --device /dev/dri -v /dev/dri/by-path:/dev/dri/by-path --privileged 
    steps:
      - name: Configure Git safe directory
        run: git config --global --add safe.directory '*'
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: build & install wheel
        run: |
          python3 -m pip config set global.break-system-packages true
          pip install -r requirements.txt
          pip install --extra-index-url=https://download.pytorch.org/whl/xpu -e . -v

      - name: test 
        run: |
          ZE_AFFINITY_MASK=0 SKIP_HANG_KERNEL=1 pytest -v -s tests/

  run-unit-tests-bmg:
    runs-on: self-hosted-bmg
    # 只在上游 workflow 成功时运行
    if: github.event.workflow_run.conclusion == 'success'
    timeout-minutes: 30
    container: 
      image: localhost:5000/xpu-kernel-ci-image:latest
      options: --device /dev/dri -v /dev/dri/by-path:/dev/dri/by-path --privileged 
    steps:
      - name: Configure Git safe directory
        run: git config --global --add safe.directory '*'
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: build & install wheel
        run: |
          python3 -m pip config set global.break-system-packages true
          pip install -r requirements.txt
          pip install --extra-index-url=https://download.pytorch.org/whl/xpu -e . -v

      - name: test 
        run: |
          ZE_AFFINITY_MASK=0 SKIP_HANG_KERNEL=1 pytest -v -s tests/
