name: run unit tests on Intel GPU.

on: 
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions: 
  contents: read

env:
  REGISTRY: localhost:5000

jobs:

  build-docker-image-latest-pvc:
    runs-on: self-hosted-pvc
    steps:
      - name: Clean workspace
        run: |
          sudo chown -R "$(id -u):$(id -g)" . || true
          git clean -ffdx || true
          git reset --hard || true
          
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          clean: true

      - name: build docker image & push to local
        id: build-image
        run: |
          cp -r "$HOME/umd" ./umd
          docker build -t xpu-kernel-ci-image -f Dockerfile.xpu .
          docker tag xpu-kernel-ci-image:latest ${{ env.REGISTRY }}/xpu-kernel-ci-image:latest
          docker push ${{ env.REGISTRY }}/xpu-kernel-ci-image:latest

  build-docker-image-latest-bmg:
    runs-on: self-hosted-bmg
    steps:
      - name: Clean workspace
        run: |
          sudo chown -R "$(id -u):$(id -g)" . || true
          git clean -ffdx || true
          git reset --hard || true
          
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          clean: true

      - name: build docker image & push to local
        id: build-image
        run: |
          cp -r "$HOME/umd" ./umd
          docker build -t xpu-kernel-ci-image -f Dockerfile.xpu .
          docker tag xpu-kernel-ci-image:latest ${{ env.REGISTRY }}/xpu-kernel-ci-image:latest
          docker push ${{ env.REGISTRY }}/xpu-kernel-ci-image:latest

  run-unit-tests-pvc:
    runs-on: self-hosted-pvc
    needs: build-docker-image-latest-pvc
    timeout-minutes: 30
    container:                      
      image: localhost:5000/xpu-kernel-ci-image:latest
      options: --device /dev/dri -v /dev/dri/by-path:/dev/dri/by-path --privileged 
    steps:
      - name: Configure Git safe directory
        run: git config --global --add safe.directory '*'
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: build & install wheel
        run: |
          python3 -m pip config set global.break-system-packages true
          pip install -r requirements.txt
          pip install --extra-index-url=https://download.pytorch.org/whl/xpu -e . -v

      - name: test 
        run: |
          ZE_AFFINITY_MASK=0 SKIP_HANG_KERNEL=1 pytest -v -s tests/

  run-unit-tests-bmg:
    runs-on: self-hosted-bmg
    needs: build-docker-image-latest-bmg
    timeout-minutes: 30
    container: 
      image: localhost:5000/xpu-kernel-ci-image:latest
      options: --device /dev/dri -v /dev/dri/by-path:/dev/dri/by-path --privileged 
    steps:
      - name: Configure Git safe directory
        run: git config --global --add safe.directory '*'
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: build & install wheel
        run: |
          python3 -m pip config set global.break-system-packages true
          pip install -r requirements.txt
          pip install --extra-index-url=https://download.pytorch.org/whl/xpu -e . -v

      - name: test 
        run: |
          ZE_AFFINITY_MASK=0 SKIP_HANG_KERNEL=1 pytest -v -s tests/
